*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100% ;
    width: 100%;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    
}
.headercontainer{
    margin: 2.5rem;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 700;
}
p{
    max-width: 700px;
    text-align: center;
    color: rgb(105, 99, 99);
    margin: 0 auto;
    font-style: italic;
}
.maincontainer{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.cardcontainer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 2px;
}
.cardimagecontainer{
    position: relative;
    overflow: hidden;
    height: 14rem;

}
.cardimage{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.cardtitlecontainer{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.cardcontainer .cardimagecontainer :hover{
    transform: scale(1.2);
    transition-duration: 2s;

}
.cardtitle{
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    
}
.cardtitleanchor .cardtitle:hover{
    color: blue;

}
.cardtitleanchor{
    text-decoration: none;
}
.cardfootercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.authorcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    

}
.authoravtar{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(64, 62, 62);
    border-radius: 50%;
    
}
.cardtagcontainer{
    display: flex;
    align-items: center;
}
.authorinfocontainer{
    display: flex;
    flex-direction: column;
}
.authorname{
    color:indigo;
    font-style: italic;
    font-size: 1.3rem;
}
.date{
    color: rgb(68, 63, 63);
    font-family: cursive;
}